body {
     height: 100%;
     width: 100%;
     background-image: url(img/background.png);
     position: absolute;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     color: #ffffff;
 }

.main_container {

}

header > div {
    height: 120px;
    width: 100%;
    background-color: #663e56;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_border {
    width: 100%;
    border-top: 1px solid #e8f8ff;
}

.header_info {
    width: 1170px;
}

.header_info_logo {
    display: flex;
}

.header_info_logo_label {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.header_info_logo_label_moscow {
    font-size: 12px;

}

.header_info_logo_label_name {
    font-family: 'Neucha', sans-serif;
    font-size: 30px;

}

.header_info_logo_pic {
    position: absolute;
    background-color: #663e56;
    left: 355px;
    top: 12px;

}