@bck-color: #663e56;
@text-color: #ffffff;
@button-color: #f59dcb;

.call_button {
  border-radius: 20px;
  height: 19px;
  width: 126px;
  background-color: @button-color;
  border-color: @button-color;
  font-size: 12px;
  color: @bck-color;
  text-align: center;
  margin-top: 3px;
  cursor: pointer;
}

.container_style {
  height: 120px;
  width: 100%;
  background-color: @bck-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links_design {
  text-decoration: none;
  color: @text-color;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(img/background.png);
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: @text-color;
}



header > div {
  .container_style;
}

.header_border {
  width: 100%;
  border-top: 1px solid #e8f8ff;
}

.header_info {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.header_info_main {
  display: flex;
}

.header_info_logo {
  display: flex;
}

.header_info_logo_label {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

}

.header_info_logo_label_moscow {
  font-size: 12px;
}

.header_info_logo_label_name {
  font-family: 'Neucha', sans-serif;
  font-size: 30px;
}

.header_info_logo_pic {
  position: relative;
  background-color: #663e56;
  left: 5px;
  top: 12px;
}

.header_info_menu {
  display: flex;
  align-items: flex-end;
}

.header_info_menu ul {
  margin-bottom: 5px;
  padding-left: 10px;
}

.header_info_menu ul li {
  display: inline;
  margin-right: 12px;
  cursor: pointer;
}

.header_info_contacts {
  margin-top: 10px;
}

.header_info_contacts__phone {
  display: flex;
}

.header_info_contacts__phone img {
  margin-right: 5px;
}

.header_info_contacts__phone p {
  font-size: 16px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.header_info_contacts__phone p a {
  .links_design;
}

.header_info_contacts__phone .button {
  .call_button;
}

.header_info_contacts__networks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_info_contacts__networks .networks_telegram {
  margin-right: 8px;
  cursor: pointer;
}

.header_info_contacts__networks .networks_viber {
  margin-right: 15px;
  cursor: pointer;
}

.header_info_contacts__networks .networks_number a {
  font-size: 12px;
  .links_design;
}

.header_info_contacts__workhours {
  display: flex;
  justify-content: flex-end;
}

.header_purchase {
  display: flex;
  justify-content: space-between;
  width: 1170px;

}
.header_purchase_menu {
  display: flex;
  align-items: center;
}

.header_purchase_menu ul {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 0px;
}

.header_purchase_menu ul li {
  display: inline;
  margin-right: 12px;
  cursor: pointer;

}

.header_purchase_menu_special {
  color: @button-color;
}

.header_border {
  margin-bottom: 7px;
}

.header_purchase_menu_icons {
  display: flex;
}

.header_purchase_menu_icons > div {
  margin-left: 15px;
}

main > div {
  // width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  margin-top: 15px;
  /*width: 1170px;
 display: flex;
 flex-direction: column;
 justify-content: center;
  align-items: center;
  margin-right: 0px; */
}

.carousel-indicators {
  justify-content: flex-start;
  margin-left: 9%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.main_info {
  width: 1170px;
  height: 150px;
  background-color: @bck-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.main_info__pictures {
  width: 111px;
}

.main_info__pictures__pics {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.main_info__info p {
  text-align: center;
  font-size: 12px;
}

.main_menu_choice {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main_menu_choice__pictures img {
  width: 100%;
}

.main_additions__info {
  background-color: @text-color;
}

footer > div {
  .container_style;
  height: 148px;
}

.footer {
  flex-direction: row;
  justify-content: space-around;
}

.footer_main {
  display: flex;
  width: 1170px;
}

.footer_main__info {
  display: flex;
  height: 100%;
}

.footer_main__info_logo__image {
  margin-top: 9px;
}

.footer_main__info_stuff {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 16px;
}

.footer_main__info_stuff__networks img {
  margin-right: 19px;
}

.footer_main__info_stuff__business {
  display: flex;
  align-items: flex-end;
  margin-top: 4px;
}

.footer_main__info_stuff__business ul {
  //margin-bottom: 8px;
  padding-left: 0px;
}

.footer_main__info_stuff__business ul li {
  display: inline;
  margin-right: 12px;
  cursor: pointer;
}

.footer_main__info_stuff__address p {
  font-size: 12px;
  margin-bottom: 0px;
}

.footer_main__contacts {
  margin-top: 10px;
}

.footer_main__contacts__phone {
  display: flex;
}

.footer_main__contacts__phone img {
  margin-right: 5px;
}

.footer_main__contacts__phone p {
  font-size: 16px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.footer_main__contacts__phone p a {
  .links_design;
}

.footer_main__contacts__phone .button {
  .call_button;
  width: 176px;
}

.footer_main__contacts__networks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3px;
}

.footer_main__contacts__networks .networks_telegram {
  margin-right: 8px;
  cursor: pointer;
}

.footer_main__contacts__networks .networks_viber {
  margin-right: 15px;
  cursor: pointer;
}

.footer_main__contacts__networks .networks_number a {
  font-size: 12px;
  .links_design;
}

.footer_main__contacts__workhours {
  display: flex;
  justify-content: flex-end;
}

.footer_main__contacts__email {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 11px;
}

.footer_main__contacts__email img {
  margin-right: 8px;
}

.footer_main__contacts__email p {
  margin-bottom: 0px;
}

.footer_main__contacts__email p a {
  .links_design;
}


